<%# locals: (list:, item: nil)%>

<li id="<%= dom_id(list) %>" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
  <%= link_to list.name.capitalize, list_items_path(list), class: "flex-1 whitespace-nowrap", data: {turbo_frame: "_top"} %>
  <% if list.items.pending_status.count > 0 %>
    <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">
      <%= list.items.pending_status.count %>
    </span>
  <% end %>
</li>
