<p>Hola,</p>

<p>¿No recuerdas tu contraseña para <strong><%= @user.email %></strong>? No te preocupes, suele pasar. Simplemente haz clic en el enlace de abajo para establecer una nueva.</p>

<p><%= link_to "Restablecer mi contraseña", edit_identity_password_reset_url(sid: @signed_id) %></p>

<p>Si no solicitaste un restablecimiento de contraseña, puedes ignorar este correo electrónico de forma segura, caduca en 20 minutos. Solo alguien con acceso a esta cuenta de correo electrónico puede restablecer tu contraseña.</p>

<hr>

<p>¿Tienes preguntas o necesitas ayuda? Simplemente responde a este correo electrónico y nuestro equipo de soporte te ayudará a resolverlo.</p>
