<% content_for :title, t(".title") %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t(".title") %></h1>
  </div>

  <hr class="my-4 border-gray-300">

  <%= render "form", item: @item %>

  <%= link_to t(".discard"), list_item_path(@item.list, @item), class: "text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-2.5 py-1 inline-block font-medium border border-red-500 text-red-500" %>
</div>
